<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=pagetitle %></title>
    <link rel="stylesheet" type="text/css" href="../public/404.css">
    <style>

    </style>
</head>
<body>
<article><div><strong> <label class="error">Error 404 page not found</label>  </strong></div>
</article>
</body>
</html>